/* Selectors */
/* * Global Selector */
/* h1, p, div, header, etc. Element Selector */
/* .className Class Selector */
/* #IdName ID Selector */
/* Reset Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
/* Reset Anchor Code */
a {
  color: black;
  text-decoration: none;
}
/* Used as guidelines, after use it is commonly deleted or commented out */
/* .header, .header * {
      outline: pink dashed 1px;
  } */
body {
  background: radial-gradient(
    circle,
    rgb(255, 130, 193) 0%,
    rgb(255, 255, 255) 100%
  );
}
.header {
  display: flex;
  background: rgb(255, 130, 193);
  background: radial-gradient(
    circle,
    rgb(255, 130, 193) 0%,
    rgb(230, 70, 139) 100%
  );
  flex-flow: flex-end;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  height: 10dvh;
  border: 1px rgba(230, 70, 139, 0.31) solid;
  .logo {
    width: 4rem;
  }
  .left-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    nav {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.btn {
  padding: 0.7rem 1.7rem;
  &.nav-btn {
    /* outline: 3px dotted pink; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 0.8rem;
    height: 10dvh;
    display: flex;
    align-items: center;
    border-bottom: 2px transparent solid;
    transition: all ease 1s;
    &.active {
      border-bottom: 2px rgba(230, 70, 139, 0.31, 0.75) solid;
      transform: scale(1.05);
    }
    &:hover {
      border-bottom: 2px rgb(255, 255, 255) solid;
      background-color: rgb(146, 14, 69, 0.75);
      transform: scale(1.05);
      p {
        color: rgb(255, 255, 255);
      }
    }
  }
  &.call-to-action {
    border: 0px rgb(255, 255, 255) solid;
    border-radius: 100px;
    background-color: rgb(215, 104, 156);
    height: fit-content;
    box-shadow: 0rem 0rem 0px 0px rgba(146, 14, 69, 0.75);
    -webkit-box-shadow: 0rem 0rem 0px 0px rgba(146, 14, 69, 0.75);
    -moz-box-shadow: 0rem 0rem 0px 0px rgba(146, 14, 69, 0.75);
    transition: all ease 0.2s;
    p3 {
      color: rgb(255, 255, 255);
      font-size: 1rem;
    }
    &:hover {
      transform: translate(-0.5rem, -0.5rem);
      box-shadow: 0.5rem 0.5rem 0px 0px rgba(146, 14, 69, 0.75);
      -webkit-box-shadow: 0.5rem 0.5rem 0px 0px rgba(146, 14, 69, 0.75);
      -moz-box-shadow: 0.5rem 0.5rem 0px 0px rgba(146, 14, 69, 0.75);
    }
    &:active {
      transform: translate(-0.2rem, -0.2rem);
      box-shadow: 0.2rem 0.2rem 0px 0px rgba(255, 255, 255, 0.75);
      -webkit-box-shadow: 0.2rem 0.2rem 0px 0px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: 0.2rem 0.2rem 0px 0px rgba(255, 255, 255, 0.75);
    }
  }
  &.hero-btn {
    text-transform: uppercase;
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }
}
.hero {
  height: calc(90dvh - 16rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: rem rem;

  h6 {
    padding-top: 6rem;
    font-size: 2rem;
    font-family: "optima", sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 0.05rem;
    font-variant: small-caps;
    transition: all ease 0.4s;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 20px rgb(251, 68, 141);
    }
    h7 {
      font-family: "optima", sans-serif;
      font-size: 5rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 200;
      letter-spacing: 1.5rem;
    }
  }
  h4 {
    padding-top: 0.5rem;
    padding-left: 9rem;
    padding-right: 9rem;
    font-size: 7rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1rem;
    transition: all ease 0.4s;
    &:hover {
      color: rgb(251, 68, 141);
      text-shadow: 0 0 20px rgb(251, 68, 141);
    }
    .separator {
      margin: 8rem 0;
      border: 1px rgb(255, 130, 193) solid;
      width: 10%;
    }
    .description {
      line-height: 2.5rem;
      margin-bottom: 10rem;
      padding-bottom: 5rem;
    }
  }
  p {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem ;
    font-variant: small-caps;
    font-weight: 500;
    text-shadow: 0 0 20px rgb(153, 31, 80);
  }

  p2 {
      color: rgb(255, 255, 255);
      font-family: Helvetica, sans-serif;
      font-size: 1rem;
      font-variant: small-caps;
      font-style: italic;
      font-weight: 500;
      text-shadow: 0 0 20px rgb(153, 31, 80);
  }
  .separator {
    margin: 1rem 0;
    border: 0px rgb(255, 130, 193) solid;
    width: 10%;
  }
  & .bg {
    padding-top: 6rem;
    width: 60%;
    position: fixed;
    align-self: flex-start;
    z-index: -1;
    overflow: hidden;
  }
  & .bg2 {
    padding-bottom: 20rem;
    width: 55%;
    position: fixed;
    align-self: flex-end;
    z-index: -1;
    overflow: hidden;
  }